<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>LITReview</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div class="cadre">
            <div class="page">
                <header>
                    <div class="header">
                        <div class="logo">
                            <img id="logo" src="images/logo.png">
                        </div>    
                        <h1>LiTReview</h1>
                        <nav>
                            <ul class="menu">
                                <li class="categorie"><a href="">Flux</a></li>
                                <li class="categorie"><a href="">Posts</a></li>
                                <li class="categorie"><a href="">Abonnements</a></li>
                                <li class="categorie"><a href="">Se déconnecter</a></li>
                            </ul>
                        </nav>
                    </div>
                </header>
                
                <main>

                    <div class="special1">
                        <h3 class="titre">Suivre d'autres utilisateurs</h3>
                        <div class="encadrement special gauche">
                            <h3 class="pointer">Non d'utilisateur</h3>
                        </div>
                        <div class="droite special2">
                            <button class="ecart special2-1 margButton">Envoyer</button>
                        </div>
                    </div>

                    <div class="special3">
                        <h3 class="titre">Abonements</h3>
                        <ul class="special3-1">
                            <li class="encadrement special4"><h3 class="alignGauche">Non utilisateur</h3></li>
                            <li class="encadrement pointer special4 special4-1"><h3>Désabonner</h3></li>
                        </ul>
                    </div> 

                    <div class="special5">
                        <h3 class="titre">Abonnés</h3>
                        <div class="encadrement">
                            <h3 class="alignGauche">Non d'utilisateur</h3>
                        </div>
                    </div>  
                </main>

                <footer>
                    <div class="footer">
                        <h2>Projet 9 OpenClassrooms</h2>
                    </div>
                </footer> 
            </div>
        </div>   
    </body>
</html>