<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>LITReview</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div class="cadre">
            <div class="page">
                <header>
                    <div class="header">
                        <div class="logo">
                            <img id="logo" src="images/logo.png">
                        </div>    
                        <h1>LiTReview</h1>
                        <nav>
                            <ul class="menu">
                                <li class="categorie"><a href="">Flux</a></li>
                                <li class="categorie"><a href="">Posts</a></li>
                                <li class="categorie"><a href="">Abonnements</a></li>
                                <li class="categorie"><a href="">Se déconnecter</a></li>
                            </ul>
                        </nav>
                    </div>
                </header>
                
                <main>
                    <div>
                        <div>
                        <h3 class="titre">Créer une critique</h3>
                        </div>
                        <div class="encadrement">
                            <h3 class="alignTitre">Vous êtes en train de poster en réponse à</h3>
                            <div class="encadrement heightEncadrement2 espace"></div> 
                        </div> 
                        <div class="encadrement">
                            <div>
                                <h3 class="titre">Critique</h3>
                            </div>
        
                            <h3 class="alignTitre">Titre</h3>
                            <div class="encadrement heightEncadrement"></div>

                            <h3 class="alignTitre">Note</h3> 

                            <div class="divNote">
                                <div class="rond"></div>
                                <h3 class="textRond">- 0</h3>
                                <div class="rond"></div>
                                <h3 class="textRond">- 1</h3>
                                <div class="rond"></div>
                                <h3 class="textRond">- 2</h3>
                                <div class="rond"></div>
                                <h3 class="textRond">- 3</h3>
                                <div class="rond"></div>
                                <h3 class="textRond">- 4</h3>
                                <div class="rond"></div>
                                <h3 class="textRond">- 5</h3>
                            </div>

                            <h3 class="alignTitre">Commentaire</h3>
                            <div class="encadrement heightEncadrement2"></div> 
                            <div class="buttonDiv">
                                <button class="specialButton2">Envoyer</button>  
                            </div>
                        </div>
                    </div>
                </main>

                <footer>
                    <div class="frame">
                        <h2>Projet 9 OpenClassrooms</h2>
                    </div>
                </footer> 
            </div>
        </div>   
    </body>
</html>