<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>LITReview</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div class="cadre">
            <div class="page">
                <header>
                    <div class="header">
                        <div class="logo">
                            <img id="logo" src="images/logo.png">
                        </div>    
                        <h1>LiTReview</h1>
                        <nav>
                            <ul class="menu">
                                <li class="categorie"><a href="">Flux</a></li>
                                <li class="categorie"><a href="">Posts</a></li>
                                <li class="categorie"><a href="">Abonnements</a></li>
                                <li class="categorie"><a href="">Se déconnecter</a></li>
                            </ul>
                        </nav>
                    </div>
                </header>
                
                <main>
                    <div>
                        <div>
                            <h3 class="titre">Créer un ticket</h3>
                        </div>
                        <h3 class="alignTitre">Titre</h3>
                        <div class="encadrement heightEncadrement"></div>
                        <h3 class="alignTitre">Description</h3>
                        <div class="encadrement heightEncadrement2"></div> 
                        <h3 class="alignTitre">Image</h3> 
                        <div class="buttonDiv">
                            <button class="specialButton">Télécharger fichier</button>
                            <button class="specialButton2 espace">Envoyer</button>  
                        </div>  
                    </div>
                </main>

                <footer>
                    <div class="footer">
                        <h2>Projet 9 OpenClassrooms</h2>
                    </div>
                </footer> 
            </div>
        </div>   
    </body>
</html>