<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>LITReview</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div class="cadre">
            <div class="page">
                <header>
                    <div class="header">
                        <div class="logo">
                            <img id="logo" src="images/logo.png">
                        </div>    
                        <h1>LiTReview</h1>
                        <nav>
                            <ul class="menu">
                                <li class="categorie"><a href="">Flux</a></li>
                                <li class="categorie"><a href="">Posts</a></li>
                                <li class="categorie"><a href="">Abonnements</a></li>
                                <li class="categorie"><a href="">Se déconnecter</a></li>
                            </ul>
                        </nav>
                    </div>
                </header>
                
                <main>
                    <div>
                        <button class="ecart margButton">Demander une critique</button>
                        <button class="margBUtton">Créer une critique</button>
                    </div>
                </main>

                <footer>
                    <div class="footer">
                        <h2>Projet 9 OpenClassrooms</h2>
                    </div>
                </footer> 
            </div>
        </div>   
    </body>
</html>