<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>LITReview</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div class="cadre">
            <div class="page">
                <header>
                    <div class="header">
                        <div class="logo">
                            <img id="logo" src="images/logo.png">
                        </div>    
                        <h1>LiTReview</h1>
                    </div>
                </header>
                
                <main>
                    <div>
                        <h2>Inscrivez-vous</h2>
                        <div class="encadrement">
                            <h3 class="pointer">Non d'utilisateur</h3>
                        </div>
                        <div class="encadrement">
                            <h3 class="pointer">Mot de passe</h3>
                        </div>
                        <div class="encadrement">
                            <h3 class="pointer">Comfirmer mot de passe</h3>
                        </div>
                        <button class="abonnement ecartAbonnement">Retourner</button>
                        <button class="abonnement">S'inscrire</button>
                    </div>
                </main>

                <footer>
                    <div class="footer">
                        <h2>Projet 9 OpenClassrooms</h2>
                    </div>
                </footer> 
            </div>
        </div>   
    </body>
</html>