<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>LITReview</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div class="cadre">
            <div class="page">
                <header>
                    <div class="header">
                        <div class="logo">
                            <img id="logo" src="images/logo.png">
                        </div>    
                        <h1>LiTReview</h1>
                    </div>
                </header>
                
                <main>
                    <div class="gauche">
                        <h2>Inscrivez-vous maintenant</h2>
                        <button>S'incrire</button>
                    </div>
                    <div class="droite">
                        <h2>Connectez-vous</h2>
                        <div class="encadrement">
                            <h3 class="pointer">Nom d'utilisateur</h3>
                        </div>
                        <div class="encadrement">
                            <h3 class="pointer">Mot de passe</h3>
                        </div>
                        <button class="ecartDroite margButton">Se connecter</button>
                    </div>
                </main>

                <footer>
                    <div class="footer">
                        <h2>Projet 9 OpenClassrooms</h2>
                    </div>
                </footer> 
            </div>
        </div>   
    </body>
</html>